<div class="ui container fluid">
<div class="ui three column  grid" style="background-color: orange;">
    <div class="ui column left aligned small">
        <img class="ui small circular image" src="assets/nextgen_it_logo.jpeg">
    </div>
    <div class="column middle aligned float large">
        <h1 class="ui header brown">
            <span style="text-decoration: underline;"> NextGen Infotech</span><br>
            Building Tomorrow's IT professionals today
        </h1>
    </div>
    <div class="column middle aligned">
        <h4 class="ui header brown">
            <span style="text-decoration: underline">Address</span><br>
            Sardar Patel Chowk<br>
            Ranip<br>
            Ahmedabad<br>
            Phone: +91 93270 55984<br>
            E-mail: nextgeninfotechahmedabad@gmail.com 
        </h4>
    </div>
</div>
</div>
<div class="ui divider"></div>