<div class="ui three column  grid">
    <div class="ui column left nomargin yellow">
        <img class="ui small circular  middle aligned image" src="assets/nextgen_it_logo.jpeg">
    </div>
    <div class="column yellow">
        <h1 class="ui header brown">NextGen Infotech</h1>
        <h2 class="ui header left aligned brown">Building Tomorrow's IT professionals today</h2>
    </div>
    <div class="column right large yellow">
        <h2 class="ui header brown">Address</h2>
        <h5 class="ui header red">
            Sardar Patel Chowk<br>
            Ranip<br>
            Ahmedabad<br>
            Phone: +91 93270 55984<br>
            E-mail: nextgeninfotechahmedabad@gmail.com 
        </h5>
    </div>
</div>