
    <div class="ui four column grid">
        <div class="column yellow fluid">
            <div class="container">
                <h1 class="ui header brown">Who we are</h1>
                <div>
                    <a class="ui header" [routerLink]="['/about']">About us</a>
                </div>
                <div>
                    <a class="ui header" [routerLink]="['/team']">Team</a>
                </div>
                <div>
                    <a class="ui header" [routerLink]="['/achievements']">Achievements</a>
                </div>
                <div>
                    <a class="ui header" [routerLink]="['/philosophy']">Our Philosophy</a>
                </div>
                <div>
                    <a class="ui header" [routerLink]="['/courses']">All Courses</a>
                </div>
            </div>
        </div>  
        <div class="column yellow fluid">
            <div class="container">
            <div class="ui header brown">
                <h1>Our Branches</h1>
            </div>
            <div class="ui header green fluid">
                <div>Satellite</div>
                <div>Thaltej</div>
                <div>Shilaj Circle</div>
                <div>Sola</div>
            </div>
            </div>
        </div>
        <div class="ui column yellow">
            <h1 class="ui header brown">Keep in touch</h1>
            <a href="https://www.facebook.com/profile.php?id=61557392280974">
                <i class="facebook icon large"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61557392280974">
                <i class="instagram icon large"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61557392280974">
                <i class="twitter icon large"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61557392280974">
                <i class="linkedin icon large"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61557392280974">
                <i class="youtube icon large"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61557392280974">
                <i class="mail icon large"></i>
            </a>

        </div>
        <div class="ui column yellow">
        </div>
    </div>

