<div class="container">
    <div class="">
        <h2 class="ui header">Our upcoming classes</h2>
        <div class="ui four cards">
            <div class="card">
                <div class="content">
                    <a class="header" href="">
                        Fullstack Developer program
                    </a>
                    <div class="meta">
                        Our flagship program
                    </div>
                    <div class="description">
                        Starting on 27th March, Wednesday.
                    </div>
                    <div class="meta">
                        Available In-Person and Online (Hybrid)
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <a class="header">
                        Data Structures and Algorithms in Python
                    </a>
                    <div class="meta">
                        Our flagship program
                    </div>
                    <div class="description">
                        Starting on 27th March, Wednesday. 
                    </div>
                    <div class="meta">
                        Available In-Person and Online (Hybrid)
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <a class="header">
                        DataScience and Machine Learning
                    </a>
                    <div class="meta">
                        Our flagship program
                    </div>
                    <div class="description">
                        Starting on 4th April, Thursday. 
                    </div>
                    <div class="meta">
                        Available In-Person and Online (Hybrid)
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="content">
                    <a class="header">
                        SDET - Software Development Engineer in Test
                    </a>
                    <div class="meta">
                        Our flagship program
                    </div>
                    <div class="description">
                        Starting on 4th April, Thursday.
                    </div>
                    <div class="meta">
                        Available In-Person and Online (Hybrid)
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui one column grid divided">
            <a class="ui column blue button large" href="">More >></a>
        </div>
        <div class="ui divider"></div>
    </div>
</div>


